@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">分子名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="分子名" v-model="cmIngredient.moleculeName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">pubchemId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="pubchemId" v-model="cmIngredient.pubchemCid" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">分子结构<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="分子结构" v-model="cmIngredient.moleculeStructure" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">分子式<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="分子式" v-model="cmIngredient.moleculeFormula" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">分子量<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="分子量" v-model="cmIngredient.moleculeWeight" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">ob值<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="ob值" v-model="cmIngredient.obScore" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">casId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="casId" v-model="cmIngredient.casId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">tcmidId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="tcmidId" v-model="cmIngredient.tcmidId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">tcmIdId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="tcmIdId" v-model="cmIngredient.tcmIdId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">tcmspId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="tcmspId" v-model="cmIngredient.tcmspId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">分子类型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="分子类型" v-model="cmIngredient.type" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">关联分子id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="关联分子id" v-model="cmIngredient.linkIngredientId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/cmdata/ingredient/add.js"></script>
@}