@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">方名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="方名" v-model="cmFormula.formulaName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">来源<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="来源" v-model="cmFormula.source" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">剂型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="剂型" v-model="cmFormula.type" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">处方<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="处方" v-model="cmFormula.prescription" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">备注<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="备注" v-model="cmFormula.remark" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/cmformula/formula/add.js"></script>
@}