<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.cmformula.dao.CmFormulaMapper">
	
	<select id="listForPage" resultType="net.chenlin.dp.modules.cmformula.entity.CmFormulaEntity">
		SELECT
			`formula_id`, 
			`formula_name`, 
			`source`, 
			`type`, 
			`prescription`, 
			`remark`
		FROM
			cm_formula
		ORDER BY
			formula_id DESC
	</select>
	
	<insert id="save">
		INSERT INTO cm_formula (
			`formula_id`, 
			`formula_name`, 
			`source`, 
			`type`, 
			`prescription`, 
			`remark`
		)
		VALUES (
			#{formulaId}, 
			#{formulaName}, 
			#{source}, 
			#{type}, 
			#{prescription}, 
			#{remark}
		)
	</insert>
	
	<select id="getObjectById" resultType="net.chenlin.dp.modules.cmformula.entity.CmFormulaEntity">
		SELECT
			`formula_id`, 
			`formula_name`, 
			`source`, 
			`type`, 
			`prescription`, 
			`remark`
		FROM
			cm_formula
		WHERE
			formula_id = #{formulaId}
	</select>
	
	<update id="update">
		UPDATE cm_formula
	 	<set>
			<if test="formulaName != null">`formula_name` = #{formulaName}, </if>
			<if test="source != null">`source` = #{source}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="prescription != null">`prescription` = #{prescription}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		WHERE
			formula_id = #{formulaId}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			cm_formula
		WHERE
			formula_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>