@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">疾病名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="疾病名" v-model="cmDisease.diseaseName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">疾病定义<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="疾病定义" v-model="cmDisease.diseaseDefinition" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">umlsId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="umlsId" v-model="cmDisease.umlsId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">meshId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="meshId" v-model="cmDisease.meshId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">omimId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="omimId" v-model="cmDisease.omimId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">orphanetId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="orphanetId" v-model="cmDisease.orphanetId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">icd10cmId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="icd10cmId" v-model="cmDisease.icd10cmId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">meddraId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="meddraId" v-model="cmDisease.meddraId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">关联疾病id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="关联疾病id" v-model="cmDisease.linkDiseaseId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/cmdata/disease/edit.js"></script>
@}