@layout("../../system/newLayout.html", {title: ""}){



<div id="relation" style="width: 100%;height:400px;margin-bottom: 40px"></div>
<div id="dieseaseBar" style="width: 100%;height:400px;margin-bottom: 40px"></div>
<div id="dieseaseStripe" style="width: 100%;height:400px;margin-bottom: 40px"></div>
<div id="formulaBar" style="width: 100%;height:400px;margin-bottom: 40px"></div>
<div id="formulaStripe" style="width: 100%;height:400px;margin-bottom: 40px"></div>

<script src="${ctxPath}/static/js/cmcomputer/pharmacology/analysis.js"></script>
@}