@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">中文名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="中文名" v-model="cmHerb.chineseName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">拼音名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="拼音名" v-model="cmHerb.pinyinName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">拉丁名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="拉丁名" v-model="cmHerb.latinName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">英文名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="英文名" v-model="cmHerb.englishName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">别名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="别名" v-model="cmHerb.alias" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">药用部位<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="药用部位" v-model="cmHerb.usepart" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">来源<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="来源" v-model="cmHerb.source" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">类型<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="类型" v-model="cmHerb.type" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">功效<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="功效" v-model="cmHerb.function" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">主治症状<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="主治症状" v-model="cmHerb.symptom" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">主治病证<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="主治病证" v-model="cmHerb.syndrome" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">性味<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="性味" v-model="cmHerb.properties" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">归经<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="归经" v-model="cmHerb.meridians" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">药理作用<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="药理作用" v-model="cmHerb.pharmacology" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">毒性<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="毒性" v-model="cmHerb.toxic" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">用法<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="用法" v-model="cmHerb.useMethod" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">用量<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="用量" v-model="cmHerb.useAmount" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">tcmidId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="cmHerb.tcmidId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">tcmIdId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="cmHerb.tcmIdId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">tcmspId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="cmHerb.tcmspId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">linkHerbId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="cmHerb.linkHerbId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">herbdbId<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="" v-model="cmHerb.herbdbId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/cmdata/herb/edit.js"></script>
@}